<div class="overflow-x-auto"><font></font>
    <table class="table"><font></font>
      <!-- head --><font></font>
      <thead><font></font>
        <tr><font></font>
          <th>Versão</th><font></font>
          <th>Idioma</th><font></font>
          <th>OS</th><font></font>
          <th>Solicitante</th><font></font>
        </tr><font></font>
      </thead><font></font>
      <tbody><font></font>
        <!-- row 1 --><font></font>
        <tr><font></font>
          <td>ultima versão</td><font></font>
          <td>Qualquer</td><font></font>
          <td>Windows || Linux</td><font></font>
          <td>Roni Romano</td><font></font>
        </tr><font></font>
      </tbody><font></font>
    </table><font></font>
  </div>