<form class="bg-gradient-to-b from-marrom-form to-cinza-meia-noite text-center text-white rounded-md w-5/6 sm:w-11/12 h-4/4 grid gap-3 place-items-center mx-auto relative" action="submit">
    <h1>Adicione um Software</h1>
    <app-input></app-input>
    <app-select></app-select>
    <app-input></app-input>
    <app-input></app-input>
    <app-input></app-input>
    <app-input></app-input>
    <app-select></app-select>
    <app-select></app-select>
    <div class="">
        <img src="../../../assets/imgs/accept.svg" alt="acesso" class="w-10 ml-56 sm:ml-66">
    </div>
</form>
