<form class="bg-gradient-to-b from-marrom-form to-cinza-meia-noite text-center text-white rounded-md w-5/6 sm:w-11/12 h-4/4 grid grid-cols-1 p-3 gap-3 place-items-center mx-auto" action="submit">
    <h1>Adicione um Software</h1>
    <app-input></app-input>
    <app-select></app-select>
    <app-input></app-input>
    <app-input></app-input>
    <app-input></app-input>
    <app-input></app-input>
    <app-select></app-select>
    <app-select></app-select>
    <div>
        <h1 class="bg-red-700 w-10 h-10">img</h1>
    </div>
</form>