<form
  class="bg-gradient-to-b from-marrom-form to-cinza-meia-noite text-center text-white rounded-md w-5/6 sm:w-11/12 md:w-2/3 lg:w-3/4 grid grid-cols-1 p-3 gap-3 place-items-center mx-auto relative"
  (ngSubmit)="onSubmit(form)"
  #form="ngForm"
>
  <div class="grid w-full max-w-screen-md px-10 sm:px-24">
    <h1 class="text-2xl font-semibold">Adicione um Software</h1>
    <label class="label">
      <span class="label-text text-white text-lg">Solicitante</span>
      <span class="label-text-alt text-white text-lg">*</span>
    </label>
    <input
      type="text"
      id="requester"
      name="requester"
      placeholder="Solicitante"
      [(ngModel)]="solicitanteInput"
      #requester="ngModel"
      pattern="^[A-Za-z\s]+$"
      required
      [ngClass]="{
        'input-error':
          requester.invalid && (requester.dirty || requester.touched)
      }"
      class="input input-bordered text-black"
    />

    <div
      *ngIf="requester.invalid && (requester.dirty || requester.touched)"
      class="alert"
    >
      <div *ngIf="requester.errors?.['required']">
        Necessário informar solicitante
      </div>
      <div *ngIf="requester.errors?.['pattern']">
        Não é possível incluir números no nome.
      </div>
    </div>

    <label class="label">
      <span class="label-text text-white text-lg">Software</span>
      <span class="label-text-alt text-white text-lg">*</span>
    </label>
    <input
      type="text"
      id="software"
      name="software"
      placeholder="Software"
      [(ngModel)]="softwareInput"
      #softwareName="ngModel"
      ngModel
      required
      [ngClass]="{
        'input-error':
          softwareName.invalid && (softwareName.dirty || softwareName.touched)
      }"
      class="input input-bordered text-black"
    />

    <div
      *ngIf="
        softwareName.invalid && (softwareName.dirty || softwareName.touched)
      "
      class="alert"
    >
      <div *ngIf="softwareName.errors?.['required']">
        Necessário informar o software.
      </div>
    </div>

    <label class="label">
      <span class="label-text text-white text-lg">Versão</span>
      <span class="label-text-alt text-white text-lg">*</span>
    </label>
    <input
      type="text"
      id="version"
      name="version"
      placeholder="Qualquer"
      ngModel
      class="input input-bordered text-black"
    />

    <label class="label">
      <span class="label-text text-white text-lg">Idioma</span>
      <span class="label-text-alt text-white text-lg">*</span>
    </label>
    <input
      type="text"
      id="language"
      name="language"
      placeholder="Idioma"
      ngModel
      class="input input-bordered text-black"
    />

    <label class="label">
      <span class="label-text text-white text-lg">Espaço em Disco</span>
      <span class="label-text-alt text-white text-lg">*</span>
    </label>
    <input
      type="text"
      id="size"
      name="size"
      placeholder="Espaço em Disco"
      ngModel
      class="input input-bordered text-black"
    />

    <label for="os" class="label">
      <span class="label-text text-white text-lg">Sistema Operacional</span>
      <span class="label-text-alt text-white text-lg">*</span>
    </label>
    <select
      name="os"
      id="os"
      class="select select-bordered text-black"
      ngModel
      required
    >
      <option disabled selected>Escolha</option>
      <option *ngFor="let os of systems">
        {{ os }}
      </option>
    </select>

    <label for="license" class="label">
      <span class="label-text text-white text-lg">Tipo de Licença</span>
      <span class="label-text-alt text-white text-lg">*</span>
    </label>
    <select
      name="license"
      id="license"
      class="select select-bordered text-black"
      ngModel
      required
    >
      <option disabled selected>Escolha</option>
      <option *ngFor="let license of licensesType">
        {{ license }}
      </option>
    </select>

    <button
      class="justify-self-end mt-4 h-15 btn btn-success"
      type="submit"
      [disabled]="!form.valid"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-full"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    </button>
  </div>
</form>
