<app-banner
  class="text-center flex justify-center"
  [title]="'Lab Test'"
></app-banner>

<div class="grid gap-4 grid-cols-1 place-items-center mb-10">
  <button type="submit" (click)="navigateToForm()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-10 h-10 inline"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
  </button>
  <app-accordion
    *ngFor="let requisition of requisitions$ | async"
    [softwareName]="requisition.software!"
    class="mb-4"
  >
    <app-table
      [requester]="requisition.requester!"
      [os]="requisition.os!"
      [version]="requisition.version!"
      [license]="requisition.license!"
      [language]="requisition.language"
      [date]="requisition.date!"
    ></app-table>
  </app-accordion>
</div>
